/*
 * for whole layout framework
 */

body {
    width: 100%;
    height: 100%;
    color: @text !important;
    #root {
        min-height: 100%;
        .fs-main-wrapper {
            height: 100%;
            .fs-body-wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                padding-top: 50px;
                min-height: 650px;
                .fs-content-wrapper {
                    flex: 1;
                    box-sizing: border-box;
                    padding: 0 0 0 3px;
                    overflow: hidden;
                    background-color: @page-bg;
                    .fs-page-content {
                        height: 100%;
                        background-color: @page-bg;
                        .fs-page-big-title {
                            position: relative;
                            z-index: 2;
                            background-color: @white;
                            .fs-box-shadow();
                        }
                        .fs-page-item-group { // wanna one more '.fs-page-item's arrange horizontally, you need wrap them with this tag
                            display: flex;
                            flex-direction: row;
                        }
                        .fs-page-item-wrapper {
                            // margin-top: 5px;
                            background-color: @white;
                            .fs-box-shadow();
                            &.title {
                                margin-top: 0;
                            }
                            &.m-t-0 {
                                margin-top: 0;
                            }
                            .fs-page-item-content {
                                padding: 20px 16px;
                            }
                        }
                        .fs-page-big-title,
                        .fs-page-item-wrapper {
                            .fs-page-title {
                                margin: 0;
                                padding: 10px 16px;
                                font-size: 15px;
                                color: @big-title;
                                overflow: hidden;
                                &.item {
                                    height: 45px;
                                    color: @title;
                                    border-bottom: 1px solid @light-border;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}