body {
    width: 100%;
    height: 100%;
    color: @text-color !important;
    #container {
        min-height: 100%;
        .fs-main-wrapper {
            height: 100%;
            .fs-top-bar-wrapper {
                height: 60px;
                box-sizing: border-box;
                border-bottom: 1px solid @page-bg;
            }
            .fs-body-wrapper {
                flex: 1;
                display: flex;
                flex-direction: row;
                padding-top: 60px;
                min-height: 650px;
                .fs-content-wrapper {
                    flex: 1;
                    box-sizing: border-box;
                    padding: 5px 10px 10px 10px;
                    border-left: 1px solid @page-bg;
                    overflow: hidden;
                    background-color: @page-bg;
                    .fs-page-content {
                        height: 100%;
                        .fs-page-item-group { // wanna one more '.fs-page-item's arrange horizontally, you need wrap them with this tag
                            display: flex;
                            flex-direction: row;
                        }
                        .fs-page-item-wrapper {
                            margin-top: 5px;
                            background-color: @white;
                            box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
                            &.title {
                                margin-top: 0;
                            }
                            .fs-page-title {
                                margin: 0;
                                padding: 10px 16px;
                                font-size: 15px;
                                color: @light-blue;
                                border-bottom: 1px solid @page-bg;
                                overflow: hidden;
                                &.item {
                                    color: #888888;
                                }
                            }
                            .fs-page-item-content {
                                padding: 20px 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}