/**
 * This lees file is for the layout of both Dashboard and DataNode components.
 *
 * left : right is 845px : 845px in 1080p resolution ratio
 * keep '.fs-cluster-information-content' always be in min-width 845px
 * right content min-width is 1200px
 */

.fs-dashboard-wrapper {
	.fs-table-operation-wrapper {
		.fs-operation-text {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			color: @title;
		}
		.fs-operation-info-box {
			float: right;
			display: flex;
			flex-direction: row;
			.fs-operation-info-item {
				height: 30px;
				&:nth-child(1) {
					margin-right: 115px;
				}
				.fs-operation-info-item-value {
					height: @bigFont;
					line-height: @bigFont;
					font-size: @bigFont;
					color: @title;
					&.light-green {
						color: @light-green;
					}
					&.orange {
						color: @orange;
					}
				}
				.fs-operation-info-item-label {
					margin-top: 3px;
					height: @smallFont;
					line-height: @smallFont;
					font-size: @smallFont;
					color: @text;
				}
			}
		}
	}

	.fs-dashboard-row {
		display: flex;
		flex-direction: row;
		// common
		.fs-cluster-information-wrapper,
		.fs-target-ranking-wrapper,
		.fs-statistics-chart-wrapper,
		.fs-physical-node-wrapper {
			background: @white;
			.fs-box-shadow();
			& > header {
				padding: 9px 15px;
				font-size: @normalFont;
				color: @title;
				border-bottom: 1px solid @light-border;
				i {
					margin-right: 12px;
				}
				.fs-header-button-box {
					float: right;
				}
			}
		}

		// respective
		.fs-cluster-information-wrapper {
			flex: 1;
			min-width: 845px;
			.fs-cluster-information-content {
				padding: 20px 40px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				.fs-cluster-machine-image-wrapper {
					width: 150px;
					height: 190px;
					text-align: center;
					img {
						width: 125px;
						height: 190px;
					}
				}
				.fs-cluster-node-information-wrapper,
				.fs-cluster-storage-wrapper {
					header {
						padding: 5px 0;
						line-height: @bigFont;
						font-size: @bigFont;
						color: @title;
					}
					.fs-cluster-info-item {
						margin-top: 17px;
						padding: 5px 0;
						width: 146px;
						line-height: @normalFont + 1;
						color: @text;
						&:nth-child(2) {
							margin-top: 50px;
						}
						&.need-icon {
							position: relative;
							padding-left: 20px;
							width: 174px;
							&:before {
								content: '';
								position: absolute;
								top: 7px;
								left: 0;
								display: block;
								width: 12px;
								height: 12px;
							}
							&.total {
								&:before {
									background: @blue;
								}
							}
							&.used {
								&:before {
									background: @orange;
								}
							}
							&.free {
								&:before {
									background: @light-green;
								}
							}
						}
						.fs-cluster-info-value {
							float: right;
							.fs-normal-node-value {
								color: @green;
							}
							.fs-error-node-value {
								color: @red;
							}
							.fs-cluster-info-unit {
								font-size: @smallFont;
							}
						}
					}
				}
				.fs-cluster-node-information-wrapper {
					margin-left: 58px;
					.fs-cluster-info-item {
						margin-top: 12px;
						&:nth-child(2) {
							margin-top: 25px;
						}
					}
				}
				.fs-cluster-storage-wrapper {
					margin-left: 42px;
				}
				.fs-cluster-chart-wrapper {
					margin-top: 30px;
					margin-left: 15px;
					padding: 0 25px;
					width: 180px;
					height: 160px;
					.fs-chart-bottom-title {
						padding: 8px 0;
						font-size: @smallFont;
						line-height: @smallFont;
						color: @text;
						text-align: center;
					}
				}
			}
		}
		.fs-target-ranking-wrapper {
			flex: 1;
			margin-left: 10px;
			min-width: 325px;
			.fs-target-view-all {
				float: right;
				font-size: @smallFont;
				color: @light-text;
				cursor: pointer;
				&:hover {
					color: @blue;
				}
			}
		}
		.fs-statistics-chart-wrapper {
			flex: 1;
			margin-top: 10px;
			min-width: 585px;
			height: 270px;
			&:nth-child(2) {
				margin-left: 10px;
			}
		}
		.fs-physical-node-wrapper {
			flex: 1;
			margin-top: 10px;
			min-width: 1180px;
			min-height: 280px;
			.fs-physical-node-normal {
				color: @green;
			}
			.fs-physical-node-abnormal {
				color: @red;
			}
			.fs-physical-node-capacity {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}