.fs-dashboard-wrapper {
    .fs-cluster-monitor-wrapper {
      // background:rgb(132, 225, 241);
      border:none;
        .fs-cluster-monitor-content {
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            .fs-cluster-monitor-detail-A {
              width:49%;flex:1;
              height:300px;
              // background:rgb(198, 201, 181);
            }
            .fs-cluster-monitor-detail-B {
              width:49%;
              height:300px;
              margin-left:20px; 
              // background:rgb(190, 79, 224);
            }
        }
    }
    .fs-cluster-monitor-CpacityUsage {
      .fs-CpacityUsage-content {
        
          display: flex;
          flex-direction: row;
          justify-content:flex-start;
          
          .fs-CpacityUsage-content-detail-A{
            border:none;
            width:30%;
            height:300px;flex: 1;
            background:rgb(201, 181, 181);
          }
          .fs-CpacityUsage-content-detail-B{
            border:none;
            height:300px;
            width:30%;      flex: 1; 
            margin-left:20px;    
            background:rgb(41, 164, 235);
          }
          .fs-CpacityUsage-content-detail-C{
            border:none;            
            height:300px;
            width:30%;
            margin-left:20px;
            background:rgb(156, 27, 27);
          }
      }
    }
    .fs-EventMonitor-wrapper {
      .fs-EventMonitor-content {
          display: flex;
          flex-direction: row;
          justify-content:flex-start;
          .fs-EventMonitor-content-detail-A{
            border:none;            
            width:62.5%;flex:1;
            height:300px;
            background:rgb(201, 181, 181);
          }
          .fs-EventMonitor-content-detail-B{
            border:none;            
            height:300px;
            width:30%;    
            margin-left:20px;       
            background:rgb(41, 164, 235);
          }
      }
    }

}
