.fs-disk-usage-wrapper {
    margin: 0 auto;
    width: 280px;
    display: flex;
    flex-direction: row;
    .fs-disk-usage-info-wrapper {
        margin: 12px 0 0 60px;
        .fs-disk-usage-info-item {
            margin-top: 10px;
            font-size: 12px;
            &:nth-child(1) {
                margin-top: 0;
            }
            .fs-disk-label-text {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -18px;
                    top: 1px;
                    display: block;
                    width: 12px;
                    height: 12px;
                }
                &.total {
                    &:before {
                        border: 3px solid @cyan;
                        border-radius: 12px;
                    }
                }
                &.orange {
                    &:before {
                        background: @orange;
                    }
                }
                &.dark-gray {
                    &:before {
                        background: @dark-gray;
                    }
                }
            }
        }
    }
}