.fs-initialize-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // background-image: url(../../images/bg.svg);
    .fs-initialize-welcome-wrapper,
    .fs-initialize-step-index-wrapper,
    .fs-initialize-divider-wrapper,
    .fs-initialize-step-content-wrapper,
    .fs-initialize-step-action-wrapper {
        width: 1200px;
        margin: 0 auto;
    }
    .fs-initialize-title-wrapper {
        margin-bottom: 60px;
        text-align: center;
        font-size: @hugeFont;
        color: @title;
    }
    .fs-initialize-welcome-wrapper {
        margin-bottom: 30px;
    }
    .fs-initialize-language-btn-wrapper {
        margin-right: 30px;
        margin-bottom: 20px;
        padding-top: 10px;
        text-align: right;
    }
    .fs-initialize-step-content-wrapper {
        .fs-initialize-step-content {
            min-height: 410px;
            .fs-step-title {
                margin-top: 60px;
            }
            .ant-form-item-label {
                label {
                    font-size: @smallFont;
                }
            }
            .ant-input-group-addon {
                font-size: 12px;
            }
            .fs-enable-ha-label {
                font-size: 12px;
            }
            .fs-ip-input-group {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .fs-ip-input-member {
                    margin-right: 10px;
                    width: 300px;
                    min-height: 400px;
                    .fs-box-shadow(0, 0, 5px, 1px, #f3f3f3);
                    transition: transform .5s ease;
                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                    &.active {
                        background: #5f90ff;
                        opacity: .9;
                        .fs-ip-input-title {
                            background: #6a98ff;
                            span {
                                color: @white;
                            }
                            .fs-ip-plus.anticon {
                                color: @white;
                                &:hover {
                                    color: @light-gray;
                                }
                            }
                        }
                        .fs-ip-input-item {
                            .fs-ip-input {
                                caret-color: #5f90ff;
                            }
                            .fs-ip-minus.anticon {
                                color: @white;
                                border: 1px solid #7fa6ff;
                                background: #7fa6ff;
                                &:hover {
                                    color: @light-gray;
                                    border: 1px solid @light-gray;
                                }
                            }
                            .ant-input-group-addon {
                                background: @white;
                            }
                            .ant-form-item-label {
                                label {color: @white;}
                            }
                            .ant-form-explain {
                                color: @red;
                            }
                        }
                        .fs-enable-ha-label {
                            color: @white;
                        }
                        transform: translate(0, -10px) !important;
                        .fs-box-shadow(0, 20px, 20px, -20px, #c3d6ff);
                    }
                    .fs-ip-input-title {
                        margin-bottom: 10px;
                        padding: 14px 25px;
                        font-size: @normalFont;
                        line-height: @normalFont;
                        background: @page-bg;
                        span {
                            color: @title;
                            cursor: pointer;
                        }
                        .fs-ip-plus.anticon {
                            float: right;
                            width: 14px;
                            height: 14px;
                            line-height: 14px;
                            color: @title;
                            user-select: none;
                            &:hover {
                                cursor: pointer;
                                color: @blue;
                            }
                        }
                    }
                    .fs-ip-input-item {
                        margin: 5px 25px;
                        .fs-ip-input {
                            width: ~"calc(100% - 35px)";
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            &.no-margin {
                                width: 100%;
                            }
                        }
                        .fs-ip-minus.anticon {
                            margin-left: 5px;
                            padding: 7px;
                            border: 1px solid @dark-border;
                            user-select: none;
                            &:hover {
                                cursor: pointer;
                                color: @blue;
                                border: 1px solid @blue;
                            }
                        }
                    }
                    .fs-ip-sub-btn,
                    .fs-ip-plus-btn {
                        padding: 0 4px;
                    }
                    .fs-ip-sub-btn {
                        height: 18px;
                    }
                    .fs-ip-plus-btn {
                        margin: 0 0 10px 10px;
                        width: 28px;
                        height: 22px;
                    }
                }
            }
            .fs-initialization-progress-gear-wrapper {
                position: relative;
                margin: 30px auto;
                width: 116px;
                height: 92px;
                i {
                    display: block;
                    &.fs-initialization-gear-big {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 75px;
                        height: 75px;
                        background: url(../../images/gear_big.png) 0 0 no-repeat;
                        background-size: 100% 100%;
                        animation: clockwise-rotate 4s linear infinite .3s;
                    }
                    &.fs-initialization-gear-small {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 45px;
                        height: 45px;
                        background: url(../../images/gear_small.png) 0 0 no-repeat;
                        background-size: 100% 100%;
                        animation: anticlockwise-rotate 3s linear infinite .3s;
                    }
                }
            }
            .fs-initialization-progress-bar {
                margin: 0 0 30px 375px;
                width: 450px;
                .ant-progress-outer {
                    .ant-progress-inner {
                        background: linear-gradient(#b8b9ba, #e0e1e2) !important;
                        .ant-progress-bg {
                            height: 8px !important;
                            background: linear-gradient(#7bcbff, #3385ff) !important;
                        }
                    }
                }
            }
            .fs-confirm-conf-wrapper {
                .fs-service-ip-wrapper {
                    display: flex;
                    flex-direction: row;
                    .fs-box-shadow(0, 0, 5px, 1px, #f3f3f3);
                    .fs-type-wrapper {
                        width: 150px;
                        border-right: 1px solid @border;
                        .fs-type-item {
                            padding-left: 25px;
                            height: 30px;
                            line-height: 30px;
                            font-size: @smallFont;
                            color: @text;
                            border-bottom: 1px solid @border;
                            cursor: pointer;
                            &.active {
                                color: @white;
                                border-right: none;
                                background: @blue;
                            }
                            .anticon {
                                margin-right: 10px;
                            }
                        }
                    }
                    .fs-ip-wrapper {
                        flex: 1;
                        .fs-ip-item {
                            float: left;
                            width: 20%;
                            height: 30px;
                            line-height: 30px;
                            font-size: @smallFont;
                            text-align: center;
                            border-bottom: 1px solid @border;
                            cursor: pointer;
                            &:nth-child(odd) {
                                background: @page-bg;
                            }
                            &:nth-child(even) {
                                border-right: 1px solid @border;
                            }
                            &.active {
                                color: @blue;
                            }
                            &.no-hover {
                                cursor: auto;
                            }
                        }
                    }
                }
                .fs-buddy-group-wrapper {
                    margin-top: 10px;
                    padding: 0 25px;
                    height: 40px;
                    line-height: 40px;
                    font-size: @smallFont;
                    .fs-box-shadow(0, 0, 5px, 1px, #f3f3f3);

                }
            }
            .fs-initialization-wrapper {
                margin-top: 10px;
                min-height: 350px;
                .fs-box-shadow(0, 0, 5px, 1px, #f3f3f3);
                .fs-initialization-info-title {
                    padding: 0 25px;
                    height: 40px;
                    line-height: 40px;
                    background: @page-bg;
                }
                .fs-initialization-info-item {
                    padding: 0 25px;
                    height: 32px;
                    line-height: 32px;
                    font-size: @smallFont;
                    &:nth-child(odd) {
                        background: @table-row-stripe-bg-opacity;
                    }
                    &.failed {
                        color: @red;
                    }
                    span {
                        margin-right: 20px;
                    }
                }
            }
            .fs-done-wrapper {
                padding: 20px;
                height: 350px;
                font-size: @smallFont;
                .fs-box-shadow(0, 0, 5px, 1px, #f3f3f3);
            }
        }
    }
    .fs-initialize-divider-wrapper {
        margin: 20px 0 25px;
    }
    .fs-initialize-step-action-wrapper {
        margin-top: 25px;
        text-align: center;
    }

    // background animations
    .fs-initialize-background-stone {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 100%;
        border: 1px solid @border;
        z-index: -1;
        .fs-sand {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: @light-red;
            // background: url(../../images/logo-bg.png) 0 0 no-repeat;
            // background-size: 100% 100%;
        }
        .fs-earth-layer {
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            left: 4px;
            .fs-satellite {
                position: absolute;
                display: block;
                border-radius: 100%;
                top: -20px;
                right: 23px;
                width: 4px;
                height: 4px;
                background: @light-red;
            }
        }
        .fs-moon-layer,
        .fs-mercury-layer {
            position: absolute;
            .fs-satellite {
                display: block;
                width: 3px;
                height: 3px;
                background: @blue-gray;
            }
        }
        .fs-moon-layer {
            top: -12px;
            right: -12px;
            bottom: -12px;
            left: -12px;
        }
        .fs-mercury-layer {
            top: -20px;
            right: -20px;
            bottom: -20px;
            left: -20px;
            .fs-satellite {
                background: @light-red;
            }
        }
        &.b-1 {
            top: 5%; left: 5%;
            animation: fs-background-bubble-move-4 10s linear infinite;
            .fs-earth-layer {
                animation: anticlockwise-rotate 6s linear infinite .5s;
            }
            .fs-moon-layer {
                animation: clockwise-rotate 8s linear infinite .25s;
            }
            .fs-mercury-layer {
                animation: anticlockwise-rotate 10s linear infinite 1.75s;
            }
        }
        &.b-2 {
            bottom: 30%; left: 18%;
            animation: fs-background-bubble-move-1 10s linear infinite;
            .fs-earth-layer {
                animation: anticlockwise-rotate 6s linear infinite 1s;
            }
            .fs-moon-layer {
                animation: clockwise-rotate 8s linear infinite .75s;
            }
            .fs-mercury-layer {
                animation: anticlockwise-rotate 10s linear infinite .25s;
            }
        }
        &.b-3 {
            bottom: 40%; right: 35%;
            animation: fs-background-bubble-move-2 10s linear infinite;
            .fs-earth-layer {
                animation: clockwise-rotate 6s linear infinite .5s;
            }
            .fs-moon-layer {
                animation: anticlockwise-rotate 8s linear infinite .25s;
            }
            .fs-mercury-layer {
                animation: clockwise-rotate 10s linear infinite 1.25s;
            }
        }
        &.b-4 {
            top: 30%; right: -20px;
            animation: fs-background-bubble-move-3 10s linear infinite;
            .fs-earth-layer {
                animation: anticlockwise-rotate 6s linear infinite .75s;
            }
            .fs-moon-layer {
                animation: clockwise-rotate 8s linear infinite .25s;
            }
            .fs-mercury-layer {
                animation: anticlockwise-rotate 10s linear infinite 1.5s;
            }
        }
        &.b-5 {
            bottom: 5px; right: 30%;
            animation: fs-background-bubble-move-1 10s linear infinite;
            .fs-earth-layer {
                animation: clockwise-rotate 6s linear infinite 1.25s;
            }
            .fs-moon-layer {
                animation: anticlockwise-rotate 8s linear infinite .5s;
            }
            .fs-mercury-layer {
                animation: clockwise-rotate 10s linear infinite .25s;
            }
        }
        &.b-6 {
            top: -10px; right: 30%;
            animation: fs-background-bubble-move-5 10s linear infinite;
            .fs-earth-layer {
                animation: anticlockwise-rotate 6s linear infinite .75s;
            }
            .fs-moon-layer {
                animation: clockwise-rotate 8s linear infinite 1.5s;
            }
            .fs-mercury-layer {
                animation: anticlockwise-rotate 10s linear infinite 2s;
            }
        }
    }
}