.fs-node-wrapper {
    .fs-node-item-group {
        display: flex;
        flex-direction: row;
        .fs-node-item {
            flex: 1;
            .fs-node-info-wrapper {
                .fs-switch-node-wrapper {
                    float: right;
                    transition: transform .5s ease-in;
                    &.fold {
                        transform: translateX(85%);
                    }
                }
                .fs-node-info-content {
                    text-align: left;
                    .fs-info-item {
                        &.title {
                            display: block;
                            margin: 30px 0 20px;
                            color: @title-color;
                            &:nth-child(1) {
                                margin-top: 0;
                            }
                        }
                        &.m-l {
                            margin-left: 20px;
                        }
                        .fs-info-label {
                            margin-right: 10px;
                        }
                    }
                    .fs-info-block-group-animation-wrapper {
                        min-height: 103px;
                    }
                    .fs-info-block-group {
                        text-align: center;
                        .fs-info-block-item {
                            display: inline-block;
                            padding-left: 20px;
                            width: 160px;
                            text-align: left;
                            // border: 1px solid @border;
                            border-radius: 10px;
                            box-shadow: 0 2px 8px rgba(229, 229, 229, 0.5);
                            &.m-l {
                                margin-left: 15px;
                            }
                            &:hover {
                                box-shadow: 0 2px 8px rgba(200, 200, 200, 0.7);
                                .fs-info-block-circle {
                                    border-radius: 0;
                                    transform: rotate(360deg);
                                }
                            }
                            &.pointer {
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .fs-info-block-circle {
                                display: block;
                                margin: 10px 20px 10px 0;
                                width: 12px;
                                height: 12px;
                                border-radius: 12px;
                                transition: all .5s ease .2s;
                                &.purple {
                                    border: 3px solid @purple;
                                }
                                &.yellow {
                                    border: 3px solid @yellow;
                                }
                                &.orange {
                                    border: 3px solid @orange;
                                }
                                &.green {
                                    border: 3px solid @green;
                                }
                            }
                            .fs-info-block-label {
                                margin-top: 20px;
                                font-weight: bold;
                                color: @title-color;
                            }
                            .fs-info-block-value {
                                margin: 10px 0;
                                font-size: 12px;
                            }
                        }
                    }
                    .fs-node-status-circle {
                        display: inline-block;
                        margin-left: 10px;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        &.up {
                            background-color: @green;
                            animation: 6s fs-node-up infinite 1s;
                        }
                        &.down {
                            background-color: @red;
                            animation: 6s fs-node-down infinite 1.5s;
                        }
                    }
                }
            }
        }
    }
}