.fs-rolling-back-wrapper {
    height: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
    .fs-rolling-back-content {
        margin: 0 auto;
        width: 600px;
        text-align: center;
        .fs-rolling-back-img {
            display: inline-block;
            width: 430px;
            height: 360px;
            background: url(../../images/error-bg.svg) 0 0 no-repeat;
        }
    }
 }