.fs-sidebar-wrapper {
    width: 200px;
    min-width: 200px;
    font-size: 30px;
    background-color: #2d2d2d;
    user-select: none;
    transition: all .3s ease-in;
    &.un-expand {
        width: 45px;
        min-width: 45px;
        .ant-menu-submenu-arrow {
            opacity: 0 !important;
        }
        .ant-menu-item {
            padding-left: 16px !important;
        }
    }
    .fs-logo-wrapper {
        padding: 5px 0;
        height: 50px;
        text-align: center;
        border-bottom: 1px solid #343434;
        .fs-logo-link {
            opacity: 1;
            display: inline-block;
            width: 120px;
            height: 40px;
            background: url(../../images/logo-expand.png) 0 0 no-repeat;
            background-size: 100% 100%;
            /*
            &:hover {
                &:before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    border-radius: 100%;
                    background-color: #4d8cda;
                    opacity: 0;
                    animation: fs-main-logo-point 5s ease 2s infinite alternate;
                }
            }
            */
            &.un-expand {
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url(../../images/logo-un-expand.png) 0 0 no-repeat;
                background-size: 100% 100%;
                animation: fs-main-logo-fade-in-out 1s ease-in-out;
            }
        }
    }
    .ant-menu-submenu-arrow {
        opacity: 1 !important;
        transition: opacity .4s ease !important;
    }
}