.fs-sidebar-wrapper {
    margin-top: 0;
    width: 200px;
    transition: all .4s ease;
    font-size: 30px;
    background-color: @white;
    .ant-menu-submenu-arrow {
        opacity: 1 !important;
        transition: opacity .4s ease !important;
    }
    &.up {
        // margin-top: -60px;
    }
    &.hide {
        width: 45px;
        .ant-menu-submenu-arrow {
            opacity: 0 !important;
        }
        .ant-menu-item {
            padding-left: 16px !important;
        }
    }
    .fs-visible-operation-wrapper {
        padding-right: 10px;
        height: 46px;
        text-align: right;
        border-top: 3px solid @page-bg;
        border-bottom: 1px solid @border;
        .fs-visible-operation-button {
            padding: 0;
            width: 24px;
            height: 24px;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                color: @light-blue;
            }
        }
    }
}