.fs-side-bar-wrapper {
    margin-top: 0;
    width: 200px;
    transition: margin 0.6s ease-in-out;
    font-size: 30px;
    background-color: @white;
    &.up {
        margin-top: -60px;
    }
    .fs-side-bar-menu-wrapper {
        width: 200px;
    }
}