.fs-snapshot-wrapper {
    .fs-snapshot-list-wrapper {
        min-height: 560px;
        text-align: right;
        .fs-create-snapshot-button {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
}