.fs-snapshot-wrapper {
    .fs-snapshot-list-wrapper {
        min-height: 580px;
        .fs-snapshot-operation-wrapper {
            margin-bottom: 15px;
            .fs-clear-fix();
            .fs-search-table-input {
                margin-right: 15px;
                width: 150px;
                float: left
            }
            .fs-batch-delete-snapshot-button {
                float: right;
            }
            .fs-create-snapshot-button {
                float: right;
                margin-left: 10px;
            }
        }

    }
}