.fs-statics-table-wrapper {
    .fs-statics-table-row {
        display: flex;
        flex-direction: row;
        &.header {

        }
        .fs-statics-table-item {
            width: 10%;
            text-align: center;
        }
    }
    .fs-statics-table-body-wrapper {
        display: flex;
        flex-direction: column;
    }
}