.fs-statics-table-wrapper {
    min-height: 411px;
    padding: 0 10px;
    .fs-statics-table-row {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            // border: 1px solid @light-border;
            .fs-box-shadow();
        }
        &.header {
            padding: 0 10px;
            &:before {
                transform: skewX(10deg);
            }
        }
        &.body {
            margin-top: 10px;
            font-size: 12px;
            cursor: pointer;
            color: @title;
            &:before {
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                border: 1px solid @light-border;
                border-radius: 6px;
                box-shadow: none;
            }
            &:hover {
                transform: scale(1.1, 1.1);
                font-size: 13px;
                color: @text;
                &:before {
                    border: none;
                    .fs-box-shadow();
                }
                .stick {
                    color: @orange;
                    opacity: 1 !important;
                }
            }
        }
        &.no-io {
            margin-top: 15px;
            font-size: 12px;
            color: @title;
            &:before {
                border: 1px solid @light-border;
                border-radius: 6px;
                box-shadow: none;
            }
        }
        .fs-statics-table-item {
            width: 10%;
            text-align: center;
            &.header,
            &.body {
                &:nth-child(1){
                    width: 120px;
                }
                &.un-stick {
                    width: 20px;
                    color: @orange;
                }
                &.stick {
                    width: 20px;
                    opacity: 0;
                }
            }
            &.header {
                &:nth-child(1){
                    color: @blue;
                }
                &.stick {
                    width: 20px;
                }
            }
        }
    }
    .fs-statics-table-body-wrapper {
        margin-top: 5px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        &.stick {

        }
    }
}

.fs-statics-filter-wrapper {
    user-select: none;
    .fs-statics-filter-title {
        &:nth-child(3) {
            margin-top: 20px;
        }
        .fs-static-filter-num {
            color: @cyan;
        }
    }
    .fs-statics-filter-item-box {
        margin-top: -10px;
    }
    .fs-statics-filter-item {
        width: 100px;
        margin-left: 0 !important;
        margin-top: 10px
    }
    .fs-statics-filter-tag {
        margin-top: 10px;
    }
}

.fs-static-table-filter-icon {
    color: #3690ff;
    cursor: pointer;
}