.fs-top-bar-wrapper {
    width: 100%;
    height: 50px;
    font-size: 12px;
    transition: transform .35s ease;
    background-color: @white;
    // only bottom-shadow ?
    .fs-box-shadow(0, 1px, 1px, -1px);
    .fs-menu-expand-button-wrapper {
        float: left;
        padding-top: 2px;
        padding-left: 10px;
        height: 50px;
        line-height: 50px;
        text-align: right;
        .fs-menu-expand-button {
            width: 24px;
            height: 24px;
            font-size: 16px;
            color: #b6b6b6;
            cursor: pointer;
            &:hover {
                color: @light-blue;
            }
        }
    }
    .fs-copy-right-wrapper {
        float: left;
        padding-left: 15px;
        height: 50px;
        line-height: 50px;
    }
    .fs-top-info-wrapper {
        float: right;
        padding-right: 20px;
        line-height: 50px;
        .fs-login-user-wrapper {
            margin-right: 20px;
            user-select: none;
            .fs-login-user:hover {
                cursor: pointer;
                color: #1890ff;
            }
        }
        .fs-alarm-wrapper {
            cursor: pointer;
            margin-right: 30px;
            .fs-alarm-bell-icon {
                font-size: 20px;
                color: #777777;
            }
        }
    }
}