.fs-top-bar-wrapper {
    min-height: 60px;
    background: @white;
    .logo-wrapper {
        float: left;
        width: 200px;
        .logo-link {
            img {
                display: block;
                margin: 0 auto;
                width: 200px;
                height: 60px;
                max-width: 100%;
            }
        }
    }
    .login-user-wrapper {
        float: right;
        padding-right: 20px;
        line-height: 60px;
    }
}