.fs-top-bar-wrapper {
    height: 60px;
    transition: transform 0.25s ease-in-out;
    will-change: transform;
    &.up {
        transform: translateY(-100%);
    }
    &.down {
        transform: translateY(0);
    }
    .logo-wrapper {
        float: left;
        width: 200px;
        .logo-link {
            img {
                display: block;
                margin: 0 auto;
                width: 200px;
                height: 60px;
                max-width: 100%;
            }
        }
    }
    .login-user-wrapper {
        float: right;
        padding-right: 40px;
        line-height: 60px;
        span {
            &.fs-login-user:hover {
                cursor: pointer;
                color: #1890ff;
            }
        }
    }
}