@keyframes fs-login-logo-bg {
  from {transform: rotate(0);}
  to {transform: rotate(1turn);}
}

@keyframes fs-login-logo-point {
  0% {opacity: 1;transform: scale(1);}
  50% {opacity: 1;transform: scale(0);}
  100% {opacity: 1;transform: scale(1);}
}

@keyframes fs-main-logo-point {
  25% {opacity: 1;transform: translate(0, 40px);}
  50% {opacity: 0;transform: translate(120px, 40px);}
  75% {opacity: 1;transform: translate(120px, 0);}
  100% {opacity: 0;transform: translate(0, 0);}
}

@keyframes fs-node-up {
  49% {background: @green;}
  55% {background: @white;}
  61% {background: @green;}
}
@keyframes fs-node-blue {
  49% {background: @blue;}
  55% {background: @white;}
  61% {background: @blue;}
}


@keyframes fs-node-down {
  49% {background: @red}
  55% {background: @white;}
  61% {background: @red;}
}

@keyframes fs-arrow-glitter {
    from {opacity: 0;}
    to {opacity: 1;}
}