@import url('./fn.less');
@import url('./var.less');

@font-face {
    font-family: 'anticon';
    /*
    src: url(./font/font_zck90zmlh7hf47vi.eot); // IE9
    src: url(./font/font_zck90zmlh7hf47vi.woff) format('woff'), // chrome、firefox
         url(./font/font_zck90zmlh7hf47vi.ttf) format('truetype'), // chrome、firefox、opera、Safari, Android, iOS 4.2+
         url(./font/font_zck90zmlh7hf47vi.svg) format('svg'); // iOS 4.1-
    */
    src: url(./font/font_148784_dky7e838xq4obt9.woff); // chrome、firefox (antd 3.1.2)
}

* {
    margin: 0;
    padding: 0;
}

.fs-rotate-90 {
    transform: rotate(90deg);
}

.fs-rotate-180 {
    transform: rotate(180deg);
}

.fs-info-icon {
    color: @gray;
    &.m-l {
        margin-left: 15px;
    }
    &.m-r {
        margin-right: 15px;
    }
}

.fs-t-l {
    text-align: left;
}

.fs-t-c {
    text-align: center;
}

.fs-t-r {
    text-align: right;
}