@import url('./fn.less');
@import url('./var.less');

@font-face {
    font-family: 'anticon';
    src: url(./font/font_zck90zmlh7hf47vi.eot); /* IE9 */
    src: url(./font/font_zck90zmlh7hf47vi.woff) format('woff'), /* chrome、firefox */
         url(./font/font_zck90zmlh7hf47vi.ttf) format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
         url(./font/font_zck90zmlh7hf47vi.svg) format('svg'); /* iOS 4.1- */
}

* {
    margin: 0;
    padding: 0;
}



.rotate-180 {
    transform: rotate(180deg);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.ceph-clearfix {
    .clearfix();
}

.ceph-info-icon {
    color: @light-blue;
    &.m-l {
        margin-left: 15px;
    }
    &.m-r {
        margin-right: 15px;
    }
}

.danger-info {
    color: @red;
}

.ok-info {
    color: @green;
}