.fs-clear-fix (){
    display: block;
    zoom: 1;
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.fs-box-shadow (@opacity: 0.5, @h: 0, @v: 2px, @blur: 8px, @r:229, @g: 229, @b: 229){
    box-shadow: @h @v @blur rgba(@r, @g, @b, @opacity);
}