input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.ant-btn-sm {
    padding: 0 15px;
    font-size: 12px !important;
    border-radius: 4px;
    height: 28px;
}

.ant-popover {
    font-size: 12px !important;
}

.fnt-form {
    .ant-form-item {
        margin-bottom: 15px;
        .ant-form-item-label {
            white-space: normal !important;
        }
    }
}


.ant-table {
    &.ant-table-small {
        font-size: 12px !important;
        border: none !important;
    }
    .ant-table-thead > tr > th {
        background-color: @white !important;
        & > span {
            color: @title;
        }
    }
    .ant-table-footer {
        padding: 8px 16px;
    }
}

.ant-menu {
    overflow: hidden;
    &.ant-menu-inline,
    &.ant-menu-vertical {
        border-right: none !important;
    }
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
        margin-right: 16px !important;
    }
    &.ant-menu-inline .ant-menu-submenu-title,
    .ant-menu-item {
        width: 100% !important;
        text-overflow: clip !important;
    }
}

.ant-tabs {
    .ant-tabs-tab {
        &.ant-tabs-tab-active {
            font-weight: normal;
        }
    }
}

.ant-select {
    font-size: 12px;
    .ant-select-selection-selected-value {
        font-weight: normal !important;
    }
}

.ant-select-dropdown {
    font-size: 12px;
}

.ant-switch {
    &.ant-switch-checked {
        background: @green;
    }
}

.ant-table-wrapper {
    .ant-table-scroll {
        .ant-table-header {
            margin-bottom: 0 !important;
            padding: 8px !important;
            background-color: @white;
        }
        .ant-table-body {
            margin: 0 8px !important;
        }
    }
    .ant-table-thead {
        font-size: 12px;
        .fs-box-shadow();
        & > tr {
            & > th {
                padding: 10px 16px;
                border: none;
            }
        }
    }
    .ant-table-tbody {
        & > tr {
            font-size: 12px;
        }
    }
    .ant-table-placeholder {
        margin-top: 8px;
    }
}

.ant-pagination {
    &.ant-table-pagination {
        .ant-pagination-item,
        .ant-pagination-prev,
        .ant-pagination-next {
            min-width: 28px;
            height: 28px;
            line-height: 28px;
            .ant-pagination-item-link {
                height: 28px;
                &:before,
                &:after {
                    height: 28px;
                }
            }
        }
    }
}

.anticon {
    &.fs-option-node {
        margin-right: 15px;
        &.up {
            color: @green;
        }
        &.down {
            color: @red;;
        }
    }
}

.ant-notification {
    font-size: 12px;
    .ant-notification-notice-message {
        font-size: 14px;
    }
    .ant-notification-notice-description {
        font-size: 12px;
    }
}

