input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

.ant-form-item-label {
    white-space: normal !important;
}

.ant-table-thead > tr > th {
    background-color: @white !important;
}

.ant-menu {
    &.ant-menu-inline,
    &.ant-menu-vertical {
        border-right: none !important;
    }
    .ant-menu-item .anticon,
    .ant-menu-submenu-title .anticon {
        margin-right: 16px !important;
    }
}
