// color group by component
@text: #777777;
@big-title: #555;
@title: #888888;
@info-icon: #1890ff;
@border: #e9e9e9;
@light-border: #f5f5f5;
@page-bg: #f5f5f5;

// color group by value
@white: #fff;
@blue: #3690ff;
@light-blue: #1badf8;
@red: #f04134;
@green: #00cc00;
@cyan: #13c2c2;
@orange: #f6b93f;
@yellow: #fbe81f;
@gray: #959595;
@light-gray: #ebeef4;
@dark-gray: #e5e5e5;
@purple: #f15cfd;